name: Default

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: "1.22"
      - name: Install dependencies
        run: go mod download
      - name: Build
        run: go build -v ./...
